body {
	background-color: #262626;
	color: #C5C5C5;
}
h1 {
	text-align: center;
}
table {
    background-color: steelblue;
    border: 2px solid green;
    border-collapse: collapse;
    text-align: center;
}
th,
td {
    border: 2px solid darkgreen;
    padding: .5rem
}